In [2]:


def  calculate(a,b):
    return a+b,a-b,a*b

add,subtraction,mul =calculate(10,20)
print(add,subtraction,mul)
_,subtraction,mul =calculate(10,20)
print(subtraction,mul)

30 -10 200
-10 200

In [3]:
lax_coordinates = (40,50) 
traveler_ids =[('USA','31195855'),('BRA','CE342567')]
for passport in sorted(traveler_ids):
    print('%s/%s'%passport)

BRA/CE342567
USA/31195855

In [5]:
lax_coordinates = (33.9425,-118.408056)
x,y = lax_coordinates
print(x,y)
_,y = lax_coordinates
print(y)

33.9425 -118.408056
-118.408056

In [10]:
a,b,*rest =range(5)
print(a,b,*rest)
a,*rest,b,c= range(7)
print(a)
print(*rest)
print(b,c)
a,b,*rest=range(2)
print(a,b)
print("=====")
print(*rest)

0 1 2 3 4
0
1 2 3 4
5 6
0 1
=====

In [18]:
from collections import namedtuple
#创建好一个类 
City = namedtuple('City','name country population coordinates')
tokyo = City('Tokyo','JP',36.933,(36.689722,239.691667))
print(tokyo)
print(tokyo.coordinates)
print(City._fields)
print(tokyo._asdict())
delhi_data=('Delhi NCR','IN',21.935,(28.613889,77.208889))
delhi = City._make(delhi_data)
print(delhi)

City(name='Tokyo', country='JP', population=36.933, coordinates=(36.689722, 239.691667))
(36.689722, 239.691667)
('name', 'country', 'population', 'coordinates')
OrderedDict([('name', 'Tokyo'), ('country', 'JP'), ('population', 36.933), ('coordinates', (36.689722, 239.691667))])
City(name='Delhi NCR', country='IN', population=21.935, coordinates=(28.613889, 77.208889))